description = "Business"
==
<div class="row business">
    <div class="col">
        <div class="row mt-5 justify-content-md-center ">
            <div class="col-12 col-md-10 col-lg-8 bg-success text-center py-3 triangle triangle-success">
                <h3 class="h3-responsive text-white">{{ 'Our Commercial Solutions'|_ }}</h3>
                <strong class="text-white">{{ 'Video to alarm monitoring, we have all the tools to protect your small business'|_ }}
                    !</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 pr-0 group-item">
                <div class="card rounded-0 z-depth-2">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'residential'|page({category: 'smart-home'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">{{ 'Smart home'|_ }}</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 px-0 group-item">
                <div class="card rounded-0 z-depth-2">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'residential'|page({category: 'home-security-alarm'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">
                                {{ 'Home security camera'|_ }}</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 px-0 group-item">
                <div class="card rounded-0 z-depth-2">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'residential'|page({category: 'camera-video'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">{{ 'Home security alarm'|_ }}</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 pl-0 group-item">
                <div class="card rounded-0 z-depth-2">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'residential'|page({category: 'critical-systems'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">
                                {{ 'Critical home systems'|_ }}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>