description = "Business"
==
<div class="row business">
    <div class="col">
        <div class="row mt-5 justify-content-md-center ">
            <div class="col-12 col-md-10 col-lg-8 bg-success text-center py-3 triangle triangle-success">
                <h3 class="h3-responsive text-white">{{ 'Our Commercial Solutions'|_ }}</h3>
                <strong class="text-white">{{ 'Video to alarm monitoring, we have all the tools to protect your small business'|_ }}
                    !</strong>
            </div>
        </div>
        <div class="row">
            {# Card 1 #}
            <div class="col-12 col-sm-6 col-md-3 px-md-0 group-item">
                <div class="card rounded-0 z-depth-2 main-card">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'business'|page({category: 'access-control'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">{{ 'Access Control'|_ }}</h5>
                        </a>
                    </div>
                </div>
                <div class="card rounded-0 card-hovered">
                    <div class="card-body text-center text-white pt-5">
                        <h5 class="h5-responsive text-uppercase mt-5">{{ 'Access Control'|_ }}</h5>
                        <p class="mt-4">Description Access Control</p>
                    </div>
                    <div class="card-footer text-center bg-success">
                        <a class="text-white"
                           href="{{ 'business'|page({category: 'access-control'}) }}">
                            {{ 'Learn more'|_ }}
                        </a>
                    </div>
                </div>
            </div>
            {# Card 2 #}
            <div class="col-12 col-sm-6 col-md-3 px-md-0 group-item">
                <div class="card rounded-0 z-depth-2 main-card">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'business'|page({category: 'video-security-system'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">
                                {{ 'Video security system'|_ }}</h5>
                        </a>
                    </div>
                </div>
                <div class="card rounded-0 card-hovered">
                    <div class="card-body text-center text-white pt-5">
                        <h5 class="h5-responsive text-uppercase mt-5">{{ 'Video security system'|_ }}</h5>
                        <p class="mt-4">Description Video security system</p>
                    </div>
                    <div class="card-footer text-center bg-success">
                        <a class="text-white"
                           href="{{ 'business'|page({category: 'video-security-system'}) }}">
                            {{ 'Learn more'|_ }}
                        </a>
                    </div>
                </div>
            </div>
            {# Card 3 #}
            <div class="col-12 col-sm-6 col-md-3 px-md-0 group-item">
                <div class="card rounded-0 z-depth-2 main-card">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'business'|page({category: 'burglar-alarm-system'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">{{ 'Burglar alarm system'|_ }}</h5>
                        </a>
                    </div>
                </div>
                <div class="card rounded-0 card-hovered">
                    <div class="card-body text-center text-white pt-5">
                        <h5 class="h5-responsive text-uppercase mt-5">{{ 'Burglar alarm system'|_ }}</h5>
                        <p class="mt-4">Description Burglar alarm system</p>
                    </div>
                    <div class="card-footer text-center bg-success">
                        <a class="text-white"
                           href="{{ 'business'|page({category: 'burglar-alarm-system'}) }}">
                            {{ 'Learn more'|_ }}
                        </a>
                    </div>
                </div>
            </div>
            {# Card 4 #}
            <div class="col-12 col-sm-6 col-md-3 px-md-0 group-item">
                <div class="card rounded-0 z-depth-2 main-card">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'business'|page({category: 'business-automation'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">
                                {{ 'Business automation'|_ }}</h5>
                        </a>
                    </div>
                </div>
                <div class="card rounded-0 card-hovered">
                    <div class="card-body text-center text-white pt-5">
                        <h5 class="h5-responsive text-uppercase mt-5">{{ 'Business automation'|_ }}</h5>
                        <p class="mt-4">Description Business automation</p>
                    </div>
                    <div class="card-footer text-center bg-success">
                        <a class="text-white"
                           href="{{ 'business'|page({category: 'business-automation'}) }}">
                            {{ 'Learn more'|_ }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>