description = "Footer"
==

<div class="container text-white">
    <ul class="list-inline small">
        <li class="list-inline-item">
            <a href="#" class="text-white underline">{{ 'Residential'|_ }}</a>
        </li>
        <li class="footer-menu-divider list-inline-item">&sdot;</li>
        <li class="list-inline-item">
            <a href="#about" class="text-white underline">{{ 'Business'|_ }}</a>
        </li>
        <li class="footer-menu-divider list-inline-item">&sdot;</li>
        <li class="list-inline-item">
            <a href="#services" class="text-white underline">{{ 'Contact'|_ }}</a>
        </li>
        <li class="footer-menu-divider list-inline-item">&sdot;</li>
        <li class="list-inline-item">
            {% if lang == 'en' %}
                <a href="#"
                   class="text-white underline"
                   data-request="onSwitchLocale"
                   data-request-data="locale: 'fr'" title="Français">
                    Français
                </a>
            {% else %}
                <a href="#"
                   class="text-white underline"
                   data-request="onSwitchLocale"
                   data-request-data="locale: 'en'" title="English">
                    English
                </a>
            {% endif %}
        </li>
        <li class="footer-menu-divider list-inline-item">&sdot;</li>
        <li class="list-inline-item">
            <a href="tel:5145553322"
               class="text-white underline"> <i class="fa fa-mobile-phone"></i>&nbsp;&nbsp;514-555-3322</a>
        </li>
    </ul>
    <p class="copyright text-white small"> &copy; e-security {{ 'now'|date('Y') }}. All Rights Reserved</p>
</div>
