description = "Residential"
==
<div class="row residential">
    <div class="col">
        <div class="row mt-md-5 justify-content-md-center ">
            <div class="col-12 col-md-10 col-lg-8 bg-success text-center py-3 triangle triangle-success">
                <h3 class="h3-responsive text-white">{{ 'Our Residential Solutions'|_ }}</h3>
                <strong class="text-white">{{ 'We provide intelligent systems that are the best choice for your home'|_ }}
                    .</strong>
            </div>
        </div>
        <div class="row">
            {# Card 1 #}
            <div class="col-12 col-sm-6 col-md-3 px-md-0 group-item">
                <div class="card rounded-0 z-depth-2 main-card">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'residential'|page({category: 'smart-home'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">{{ 'Smart home'|_ }}</h5>
                        </a>
                    </div>
                </div>
                <div class="card rounded-0 card-hovered">
                    <div class="card-body text-center text-white pt-5">
                        <h5 class="h5-responsive text-uppercase mt-5">{{ 'Smart home'|_ }}</h5>
                        <p class="mt-4">Description Smart home</p>
                    </div>
                    <div class="card-footer text-center bg-success">
                        <a class="text-white"
                           href="{{ 'residential'|page({category: 'smart-home'}) }}">
                            {{ 'Learn more'|_ }}
                        </a>
                    </div>
                </div>
            </div>
            {# Card 2 #}
            <div class="col-12 col-sm-6 col-md-3 px-md-0 group-item">
                <div class="card rounded-0 z-depth-2 main-card">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'residential'|page({category: 'camera-video'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">
                                {{ 'Home security camera'|_ }}</h5>
                        </a>
                    </div>
                </div>
                <div class="card rounded-0 card-hovered">
                    <div class="card-body text-center text-white pt-5">
                        <h5 class="h5-responsive text-uppercase mt-5">{{ 'Home security camera'|_ }}</h5>
                        <p class="mt-4">Description Home security camera</p>
                    </div>
                    <div class="card-footer text-center bg-success">
                        <a class="text-white"
                           href="{{ 'residential'|page({category: 'camera-video'}) }}">
                            {{ 'Learn more'|_ }}
                        </a>
                    </div>
                </div>
            </div>
            {# Card 3 #}
            <div class="col-12 col-sm-6 col-md-3 px-md-0 group-item">
                <div class="card rounded-0 z-depth-2 main-card">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'residential'|page({category: 'home-security-alarm'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">{{ 'Home security alarm'|_ }}</h5>
                        </a>
                    </div>
                </div>
                <div class="card rounded-0 card-hovered">
                    <div class="card-body text-center text-white pt-5">
                        <h5 class="h5-responsive text-uppercase mt-5">{{ 'Home security alarm'|_ }}</h5>
                        <p class="mt-4">Description Home security alarm</p>
                    </div>
                    <div class="card-footer text-center bg-success">
                        <a class="text-white"
                           href="{{ 'residential'|page({category: 'home-security-alarm'}) }}">
                            {{ 'Learn more'|_ }}
                        </a>
                    </div>
                </div>
            </div>
            {# Card 4 #}
            <div class="col-12 col-sm-6 col-md-3 px-md-0 group-item">
                <div class="card rounded-0 z-depth-2 main-card">
                    <div class="card-body text-center">
                        <a class="d-block text-dark"
                           href="{{ 'residential'|page({category: 'critical-systems'}) }}">
                            <img src="{{ 'assets/images/products/alarm.jpg'|theme }}"
                                 class="img-fluid">
                            <h5 class="h5-responsive text-uppercase">
                                {{ 'Critical home systems'|_ }}</h5>
                        </a>
                    </div>
                </div>
                <div class="card rounded-0 card-hovered">
                    <div class="card-body text-center text-white pt-5">
                        <h5 class="h5-responsive text-uppercase mt-5">{{ 'Critical home systems'|_ }}</h5>
                        <p class="mt-4">Description Critical home systems</p>
                    </div>
                    <div class="card-footer text-center bg-success">
                        <a class="text-white"
                           href="{{ 'residential'|page({category: 'critical-systems'}) }}">
                            {{ 'Learn more'|_ }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>